<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influenciadores Digitais</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    <div class="inicio">
        <h1>Influenciadores Digitais</h1>
        <h2>Cadastre-se</h2>
    </div>

    <div class="links">
        <a href="/influencers">Todos os Influenciadores</a>
        <a href="/cadastro">Cadastra-se</a>
    </div>
</body>
</html>