<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influenciadores Digitais</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
{#====================================================#}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
{#====================================================#}

    <div>
        <h1 class="titulo">{{ Titulo }}</h1>
    </div>

    {%  for forInflu in listaIn %}

    <div class="pessoas">
        <h2>Nome: {{ forInflu.nome }}</h2>
        <img src="/static/img/{{ forInflu.nome }}.jpg">
        <p>Plataformas Sociais: {{ forInflu.plataformas }}</p>
        <p>Número de seguidores: {{ forInflu.seguidores }}</p>
        <p>Áreas de Interesses: {{ forInflu.interesses }}</p>

        <a href="excluir/{{ forInflu.nome }}">Excluir</a>
        <a href="editar/{{ forInflu.nome }}">Editar</a>
    </div>
    {% endfor %}

    <a class="links" href="/cadastro">Cadastra-se</a>

</body>
</html>


